

.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #2c063a 1.18%, #5a0e76 100%);
    color: white;
    padding: 20px;
}

.header_image {
    height: 100%;
    margin-right: 6px;
}

.header_title {
    font-size: 1.25rem;
    margin-right: auto;
}

.header_project {
    font-size: 0.75rem;
    font-weight: 500;
}

